<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="2.1.0" targetFramework="net461" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Async" version="1.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFileAlternate" version="2.0.9" targetFramework="net461" />
</packages>